
.ProjectBox {
    background-color: white;
    height: 100%;
    margin-top: 30px;
    box-sizing: border-box;
}



.project-name {
    text-align: center;
    padding: 10px 20px;
}



.project-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div.image-box {
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    display: inline-block;
    /* margin-left: 20px; */
    margin-top: 30px;
}

.project-image {
    object-fit: cover;
    min-width: 80%;
    max-width: 80%;
    min-height: 90%;
    /* margin: auto; */
    /* width: auto; */
}